body{
    background-color: cadetblue;
}
.startscreen{
    background-color: white;
    position: absolute;
    width: 60%;
    height: relative;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 19%;
    text-align: center;
    margin-top: 10%;
    border-radius: 10%;
}
.startscreen p{
   position: relative;
   text-align: center;
   width: 20%;
   left: 40%;
}
.startscreen h1{
    background-color: whitesmoke;
    border-radius: 25%;
    width: 25%;
    height: 20%;
    left: 52%;
    justify-content: center;
    margin-left: 37%;
    
}

.welcomeName {
    
    height: relative;
    font-size: 150%;
    
    text-align: center;
    
}

h2{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 25%;
    width: 40%;
    height: relative;
    justify-content: center;
    margin-left: 28%;
    font-size: 2000%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
}
.sparkle_sparkle{
    text-align: center;
    font-size: 125%;
    position: relative;
}

